.projects {
  @apply relative 
  z-0 
  flex
  flex-col
  w-full
  gap-5
  p-10
  bg-gradient-to-b
  from-gary
  to-gray-700
  pb-20
  text-white
}

.projects__h1 {
  @apply font-semibold
  text-[27px]/12 
}

.projects__card {
  @apply bg-gradient-to-t 
  from-ornj
  to-orange-400
  aspect-square
  select-none
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}