@import "tailwindcss";

@import "./styles/About.css";
@import "./styles/DropdownMenu.css";
@import "./styles/Hero.css";
@import "./styles/Navbar.css";
@import "./styles/Projects.css";

@theme {
  /*Colors*/
  --color-gary: #1d1d1dff;
  --color-ornj: #ff6a00ff;
  --color-bloo: #1d1d83ff;
  --color-beij: #ffeeddff;
}

html {
  scroll-behavior: smooth;
}

.canvas {
  @apply min-h-screen
    items-center
    justify-items-center
    bg-white;
}

.section {
  @apply mt-50
}